.sample{


    color: rgb(41, 32, 32);
    margin: 30px, 30px ;
    padding: 20px, 20px ;
    border-radius: 10px;
    width: 100%;
    border: 2px solid rgb(41, 32, 32);

}

#ref{
    color: rgb(20, 2, 2);

}

.sample_2{
    margin-top: 2rem;
    border: 2px solid rgb(41, 32, 32);
    color: rgb(24, 22, 23);
    margin: 30px, 30px ;
    padding: 20px, 20px ;
    text-align: center;
    border-radius: 10px;


}

